<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="goToBeginning()">Inicio<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="goToCreate()">Registro Empleados<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" (click)="goToConsult()">Consultar Empleados <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>