<div class="container">
  <form class="m-2" [formGroup]="createEmployee" (ngSubmit)="onSubmit()">
    <div class="text-container">
      <h1 *ngIf="!isEdit; else title">Registrar empleados</h1>
      <ng-template #title>
        <h1>Editar empleado</h1>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="surname" class="form-label">Primer Apellido <i class="text-danger">*</i></label>
        <input type="text" class="form-control" id="surname" formControlName="surname"
          [ngClass]="{ 'is-invalid': f['surname'].errors && f['surname'].touched}" maxlength="20"
          pattern="[A-Z ]{1,}" />
        <div *ngIf="f['surname'].errors && f['surname'].touched" class="invalid-feedback mb-2">
          <div *ngIf="f['surname'].errors['required'] && f['surname'].touched">Primer Apellido es requerido</div>
          <div *ngIf="f['surname'].errors['pattern'] && f['surname'].touched">Primer apellido solo permite mayúsculas y
            no permite cáracteres especiales</div>
        </div>
      </div>
      <div class="col-4">
        <label for="secondSurname" class="form-label">Segundo Apellido <i class="text-danger">*</i></label>
        <input type="text" class="form-control" id="secondSurname" formControlName="secondSurname"
          [ngClass]="{ 'is-invalid': f['secondSurname'].errors && f['secondSurname'].touched}" maxlength="20"
          pattern="[A-Z ]{1,}" />
        <div *ngIf="f['secondSurname'].errors && f['secondSurname'].touched" class="invalid-feedback mb-2">
          <div *ngIf="f['secondSurname'].errors['required'] && f['secondSurname'].touched">Segundo Apellido es requerido
          </div>
          <div *ngIf="f['secondSurname'].errors['pattern'] && f['secondSurname'].touched">Segundo apellido solo permite
            mayúsculas y no permite cáracteres especiales</div>
        </div>
      </div>
      <div class="col-4">
        <label for="firstName" class="form-label">Primer Nombre <i class="text-danger">*</i></label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName"
          [ngClass]="{ 'is-invalid': f['firstName'].errors && f['firstName'].touched}" maxlength="20"
          pattern="[A-Z ]{1,}" />
        <div *ngIf="f['firstName'].errors && f['firstName'].touched" class="invalid-feedback mb-2">
          <div *ngIf="f['firstName'].errors['required'] && f['firstName'].touched">Primer nombre es requerido</div>
          <div *ngIf="f['firstName'].errors['pattern'] && f['firstName'].touched">Primer nombre solo permite mayúsculas
            y no permite cáracteres especiales</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="otherNames" class="form-label">Otros Nombres</label>
        <input type="text" class="form-control" id="otherNames" formControlName="otherNames"
          [ngClass]="{ 'is-invalid': f['otherNames'].errors && f['otherNames'].errors['pattern'] && f['otherNames'].touched}"
          maxlength="50" pattern="[A-Z ]{1,}" />
        <div *ngIf="f['otherNames'].errors && f['otherNames'].touched" class="invalid-feedback mb-2">
          <div *ngIf="f['otherNames'].errors['pattern'] && f['otherNames'].touched">Otros nombres solo permite
            mayúsculas y no permite cáracteres especiales</div>
        </div>
      </div>
      <div class="col-4">
        <label for="countryEmployment" class="form-label">País del empleo <i class="text-danger">*</i></label>
        <select id="countryEmployment" class="form-control" formControlName="countryEmployment"
          [ngClass]="{ 'is-invalid': f['countryEmployment'].errors && f['countryEmployment'].touched}">
          <option value="" disabled>SELECCIONE PAIS</option>
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.countryName }}
          </option>
        </select>
        <div *ngIf="f['countryEmployment'].errors && f['countryEmployment'].touched" class="invalid-feedback mb-2">
          <div *ngIf="f['countryEmployment'].errors['required'] && f['countryEmployment'].touched">País del empleo es
            requerido</div>
        </div>
      </div>
      <div class="col-4">
        <label for="identificationType" class="form-label">Tipos Identificacion</label>
        <select id="identificationType" class="form-control" formControlName="identificationType">
          <option value="" disabled>SELECCIONE TIPO IDENTIFICACION</option>
          <option *ngFor="let identificationType of identificationTypes" [ngValue]="identificationType">
            {{ identificationType.identificationTypeName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="identificationNumber" class="form-label">Numero de Identificacion</label>
        <input type="text" class="form-control" id="identificationNumber" formControlName="identificationNumber"
          [ngClass]="{ 'is-invalid': f['identificationNumber'].errors && f['identificationNumber'].touched}"
          maxlength="20" pattern="[a-zA-Z0-9-]{1,}" />
        <div *ngIf="f['identificationNumber'].errors && f['identificationNumber'].touched"
          class="invalid-feedback mb-2">
          <div *ngIf="f['identificationNumber'].errors['pattern'] && f['identificationNumber'].touched">Numero de
            Identificacion no permite espacios ni caracteres especiales a excepcion del signo "-"</div>
        </div>
      </div>
      <div class="col-4">
        <label for="admissionDate" class="form-label">Fecha Ingreso</label>
        <input type="date" class="form-control" id="admissionDate" formControlName="admissionDate"
          min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}">
      </div>
      <div class="col-4">
        <label for="area" class="form-label">Areas</label>
        <select id="area" class="form-control" formControlName="area">
          <option value="" disabled>SELECCIONE AREA</option>
          <option *ngFor="let area of areas" [ngValue]="area">
            {{ area.areaName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="state" class="form-label">Estado</label>
        <input type="text" class="form-control" id="state" formControlName="state">
      </div>
      <div class="col-4">
        <label for="registrationDate" class="form-label">Fecha y hora de registro</label>
        <input type="datetime-local" class="form-control" id="registrationDate" formControlName="registrationDate">
      </div>
      <div *ngIf="isEdit && employeeEdit.modificationDate" class="col-4">
        <label for="modificationDate" class="form-label">Fecha y hora de modificación</label>
        <input type="datetime-local" class="form-control" id="modificationDate" formControlName="modificationDate">
      </div>
    </div>
    <div class="buttons-container mt-2">
      <button data-toggle="modal" data-target="#modalSubmit" [disabled]="createEmployee.invalid" type="submit"
        class="btn btn-primary ">Guardar</button>
      <button type="button" class="btn btn-secundary" (click)="goToCancel()">Cancelar</button>
    </div>
  </form>
</div>

<div class="modal fade" id="modalSubmit" tabindex="-1" role="dialog" aria-labelledby="modalSubmitLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body center">
        <h4>{{messageResponse}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="goToConsulta()" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity="0.2" bdColor="rgb(0, 0, 0, 0.6)"
color="rgba(28, 190, 81, 1)" [fullScreen]="true">
  <p style="color: rgb(255, 255, 255); padding-top: 20px !important">
    Espere por favor...
  </p>
</ngx-spinner>