<div class="container">
  <section class="title-container mt-3">
    <h4>Consultar empleados</h4>
  </section>
  <form class="form-group mt-3 filters" [formGroup]="filterEmployee" (ngSubmit)="filterEmployees()">
    <div class="row">
      <div class="col-3">
        <label class="form-label" for="firstName">Primer Nombre</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName">
      </div>
      <div class="col-3">
        <label class="form-label" for="otherNames">Otros Nombres</label>
        <input type="text" class="form-control" formControlName="otherNames" id="otherNames">
      </div>
      <div class="col-3">
        <label class="form-label" for="surname">Primer Apellido</label>
        <input type="text" class="form-control" formControlName="surname" id="surname">
      </div>
      <div class="col-3">
        <label class="form-label" for="secondSurname">Segundo Apellido</label>
        <input type="text" class="form-control" formControlName="secondSurname" id="secondSurname">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="form-label" for="identificationType">Tipo Identificación</label>
        <select class="form-control" formControlName="identificationType" id="identificationType">
          <option value="" disabled>SELECCIONE TIPO IDENTIFICACION</option>
          <option *ngFor="let identificationType of identificationTypes" [ngValue]="identificationType">
            {{ identificationType.identificationTypeName }}
          </option>
        </select>
      </div>
      <div class="col-3">
        <label class="form-label" for="identificationNumber">Número Identifcación</label>
        <input type="text" class="form-control" formControlName="identificationNumber" id="identificationNumber">
      </div>
      <div class="col-3">
        <label class="form-label" for="countryEmployment">País del empleo</label>
        <select class="form-control" formControlName="countryEmployment" id="countryEmployment">
          <option value="" disabled>SELECCIONE PAIS</option>
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.countryName }}
          </option>
        </select>
      </div>
      <div class="col-3">
        <label class="form-label" for="email">Correo Electrónico</label>
        <input type="text" class="form-control" formControlName="email" id="email">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="form-label" for="state">Estado</label>
        <input type="text" class="form-control" formControlName="state" id="state">
      </div>
      <div class="col-9 d-flex align-items-center justify-content-end">
        <button type="submit" class="btn btn-primary col-3">Filtrar empleados</button>
      </div>
    </div>
  </form>
  <section class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Primer Nombre</th>
          <th scope="col">Otros Nombres</th>
          <th scope="col">Primer Apellido</th>
          <th scope="col">Segundo Apellido</th>
          <th scope="col">Tipo Identificación</th>
          <th scope="col">Número Identificación</th>
          <th scope="col">País del Empleo</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | paginate: config">
          <td class="email">{{employee.firstName}}</td>
          <td class="email">{{employee.otherNames}}</td>
          <td class="email">{{employee.surname}}</td>
          <td class="email">{{employee.secondSurname}}</td>
          <td class="email">{{employee.identificationType?.identificationTypeName}}</td>
          <td class="email">{{employee.identificationNumber}}</td>
          <td class="email">{{employee.countryEmployment?.countryName}}</td>
          <td class="email">{{employee.email}}</td>
          <td class="email">{{employee.state}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn bg-none" (click)="goToCreate(true, employee)">
                <img src="assets/icons/pen-solid.svg" class="align-middle" width="22" height="21" alt="icon search">
              </button>
              <button data-toggle="modal" data-target="#modalSubmit" type="button" class="btn bg-none"
                (click)="deleteEmployee(employee?.employeeId)">
                <img src="assets/icons/trash-solid.svg" class="align-middle" width="22" height="21" alt="icon search">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
  [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
  [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
  (pageChange)="onPageChange($event)"></pagination-controls>

<div class="modal fade" id="modalSubmit" tabindex="-1" role="dialog" aria-labelledby="modalSubmitLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body center">
        <h4>{{messageResponse}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity="0.2" bdColor="rgb(0, 0, 0, 0.6)"
color="rgba(28, 190, 81, 1)" [fullScreen]="true">
  <p style="color: rgb(255, 255, 255); padding-top: 20px !important">
    Espere por favor...
  </p>
</ngx-spinner>